
// Mixin para los ítems del menú hamburguesa
@mixin menu-item {
  color: white;        // o el color que uses en tu navbar
  font-size: 18px;     // ajustá el tamaño como te guste
  text-decoration: none;
  font-weight: bold;
}

